*{
    margin: 0;
    padding:5px 0;
    font-family: "Century Schoolbook L";
}
.banner{width: 100%;
    height: 100vh;
    background-color:lightslategrey;
    background-size: cover;
    background-position: center;
    margin-top:10px ;
background-image:url("2007258.jpg");
border-radius: 0;

}
.navbar{
    width: 40%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;justify-content: space-between;
    background-color: red;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;


}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:white;
    position: relative;
    font-size: large;
}
.content .par{
    padding-left:20px;
    padding-bottom: 25px;
    font-family: "Abyssinica SIL";
    font-size: 25PX;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: aakar;
font-size: 40px;
    padding-left:20px;
    margin-top: 9px;
   letter-spacing: 2px;
}
.content .cn{
    width: 100px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 26px;
    cursor: pointer;
}
.content .cn a{
    text-decoration: none;
    color: black;
}
.cn:hover{ background-color:blue;
}
.content span{
    color: black;
    font-size: 45px;
}
.form{
    width: 250px;
    height: 330px;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 900px;
    color: red;
padding: 25px;
    border-radius:20px;
    border: crimson;
}
.form .link{text-decoration:none;
color: red;
}
 .form h2{ color: black;
 font-size: 22px;
 font-family: "DejaVu Sans Mono";
     width: 200px;
     text-align: center;
     padding: 2px;
     background-color: darkred;
     border-radius: 10px;
 }
 .form input{
     width: 200px;
     height: 35px;
     background-color: red;
     border: 40px;
     border-bottom: 40px;
     color: black;
     margin-top: 10px;
 }
.btn{
    width: 200px;
    height: 40px;
    background-color: red;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.btn:hover{background-color: blue;
}
.btn a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.form.link{
    font-family: DialogInput;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    color: red;
}
.form.link a{
    text-decoration: none;
color: green;
}